.bg-khan{
   background-color: #3d3d3d;
}

.bg-orange{
    background-color: #EE5A24;
}

.m-right{
    border-right:2px solid #ffffff ;
   
}
    
.col-sm-4{
    margin-top:15px ;
    margin-bottom: 15px;
    color: #ffffff;
}

h2{
    /* text-decoration: underline; */
    text-align:center ;
    margin-top: 20px;
    margin-bottom: 10px;
}


.col-sm-3{
    color: #EE5A24;
  text-align: center;
}

h3{
    
    text-decoration: underline;
    
}

.prime{
    color: black;
}

.second{
    color: #EE5A24;
}

.color{
    color: #EE5A24;   
}

.yap{
background-color: black;
}

.special-menu{
  margin-bottom: 15px;
}

.latest-blog{
    margin-top: 30px;
    margin-bottom: 30px;
}

.kpk{
    color: #EE5A24;
}

.DJ{
    color: #ffffff;
}

.li{
    list-style: none;
}

a{
    color: #ffffff;
}
.footer-copyright{
    padding-top: 7px;
    height: 40px;
    text-align: center;
   background-color:#3d3d3d;
   color: #ffffff;
}

h4{
    border-bottom: 2px solid #EE5A24;
}

.footer-widget ul li  {
    display: inline-block;
    text-align: center;
    padding-left: 5px;
    color: #EE5A24;
}

.footer-widget ul li a{
    color: #EE5A24;
}

span{
    color: #EE5A24;
}

.products-box{
    margin-top: 100px;
}

.BK{
    margin-top: 10px;
}